In [ ]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorAffil_86_07.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df2 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorAffil_08_09.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df3 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorAffil_10_11.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df4 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorAffil_12_13.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df5 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorAffil_14_15.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df6 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorAffil_16_17.csv',encoding='cp1252', dtype='str', error_bad_lines=False)

In [ ]:
df_merged = df1.append(df2, ignore_index=True)
df_merged = df_merged.append(df2, ignore_index=True)
df_merged = df_merged.append(df3, ignore_index=True)
df_merged = df_merged.append(df4, ignore_index=True)
df_merged = df_merged.append(df5, ignore_index=True)
df_merged = df_merged.append(df6, ignore_index=True)
df_merged.shape

In [ ]:
del df_merged['Unnamed: 0']
df_merged.head()

In [ ]:
df_merged.drop_duplicates(inplace=True)
df_merged.shape

In [ ]:
df_merged.to_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Merged data (luke,steve)\all_years_merged(luke-AuthorAffiliations).csv', index=False)

In [ ]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorData_86_07.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df2 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorData_08_09.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df3 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorData_10_11.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df4 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorData_12_13.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df5 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorData_14_15.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df6 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Luke\authorData_16_17.csv',encoding='cp1252', dtype='str', error_bad_lines=False)

In [ ]:
df_merged = df1.append(df2, ignore_index=True)
df_merged = df_merged.append(df2, ignore_index=True)
df_merged = df_merged.append(df3, ignore_index=True)
df_merged = df_merged.append(df4, ignore_index=True)
df_merged = df_merged.append(df5, ignore_index=True)
df_merged = df_merged.append(df6, ignore_index=True)
df_merged.shape

In [ ]:
del df_merged['Unnamed: 0']
df_merged.head()

In [ ]:
df_merged.drop_duplicates(inplace=True)
df_merged.shape

In [ ]:
df_merged.to_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Merged data (luke,steve)\all_years_merged(luke-AuthorData).csv', index=False)

In [2]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Steve\affiliations_1986_2007.csv', dtype='str', error_bad_lines=False)
df2 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Steve\affiliations_2008_2009.csv', dtype='str', error_bad_lines=False)
df3 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Steve\affiliations_2010_2011.csv', dtype='str', error_bad_lines=False)
df4 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Steve\affiliations_2012_2013.csv', dtype='str', error_bad_lines=False)
df5 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Steve\affiliations_2014_2015.csv', dtype='str', error_bad_lines=False)
df6 = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Extracted data\Steve\affiliations_2016_2017.csv', dtype='str', error_bad_lines=False)

In [3]:
df_merged = df1.append(df2, ignore_index=True)
df_merged = df_merged.append(df2, ignore_index=True)
df_merged = df_merged.append(df3, ignore_index=True)
df_merged = df_merged.append(df4, ignore_index=True)
df_merged = df_merged.append(df5, ignore_index=True)
df_merged = df_merged.append(df6, ignore_index=True)
df_merged.shape

(200648, 4)

In [5]:
df_merged.head()

,eid,affiliation_id,affiliation_name,affiliation_country
0,2-s2.0-38049161948,60092867,Korea Institute of Science and Technology Info...,South Korea
1,2-s2.0-38049161948,60013682,Seoul National University,South Korea
2,2-s2.0-36749042030,60026195,The Scottish Association for Marine Science,United Kingdom
3,2-s2.0-84858487958,60005472,Bluefield State College,United States
4,2-s2.0-84858487958,60027090,Virginia Polytechnic Institute and State Unive...,United States

In [6]:
df_merged.drop_duplicates(inplace=True)
df_merged.shape

(175053, 4)

In [7]:
df_merged.to_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Merged data (luke,steve)\all_years_merged(steve-AffiliationData).csv', index=False)