In [52]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Darpan\Desktop\Subjects\Data Science\Raw Data\JSON Files\2016-2017-Darpan.csv',encoding='cp1252', dtype='str', error_bad_lines=False)
df.shape

(7342, 5)

In [53]:
df[:10]

,eid,cite,Lang,Para,Title
0,2-s2.0-84992650141,0,eng,In this chapter an algorithm for the induction...,An algorithm based on a directed acyclic word ...
1,2-s2.0-85008506396,0,eng,An important candidate gene on Y-chromosome is...,Analysis of consequences of non-synonymous SNP...
2,2-s2.0-84997190947,0,eng,Myofibrillar myopathy (MFM) is a group of inhe...,A novel dominant D109A CRYAB mutation in a fam...
3,2-s2.0-85003587564,0,eng,Deoxyribonucleic acid (DNA) is a long flexible...,Extensional Response and Equilibrium Kinetics ...
4,2-s2.0-85006304239,0,eng,"In this work, we consider the minimum-cost sha...",Solving minimum-cost shared arborescence problems
5,2-s2.0-85009348432,0,eng,Drosophila have served as a model for research...,Small RNA-Seq analysis reveals microRNA-regula...
6,2-s2.0-85006304193,0,eng,Pectin degrading enzymes are essential for qua...,Regulation of the synthesis of pulp degrading ...
7,2-s2.0-84981738091,0,eng,In parallel with the development of nucleotide...,PGMiner: Complete proteogenomics workflow; fro...
8,2-s2.0-85000352209,0,eng,Recombined fingerprints have been suggested as...,Collusion-resistant and privacy-preserving P2P...
9,2-s2.0-85003554417,0,eng,Increased knowledge of DNA-binding proteins wo...,Local-DPP: An improved DNA-binding protein pre...

In [54]:
df.tail()

,eid,cite,Lang,Para,Title
7337,2-s2.0-84958214218,1,eng,The leaf beetle Ambrostoma quadriimpressum (Co...,Identification and comparison of candidate olf...
7338,2-s2.0-84995527084,0,eng,We cloned the full-length mitogen activated pr...,Cloning and expression analysis of the MKK3 ge...
7339,2-s2.0-84949441886,0,eng,Background and aim: Natural killer cells are p...,Contradicting roles of miR-182 in both NK cell...
7340,2-s2.0-84961297766,1,eng,Tomato (Solanum lycopersicum) is one of the mo...,The occurrence of tomato yellow ring virus on ...
7341,2-s2.0-84994403445,0,eng,Background: Two histologic subtypes are recogn...,Integrated Phenotypic/Genotypic Analysis of Pa...

In [55]:
df.describe()

,eid,cite,Lang,Para,Title
count,7339,7339,7225,7225,7339
unique,7339,26,1,7204,7305
top,2-s2.0-84956733763,0,eng,"{'sup': ['1', '2', 'rd', '3', '4'], 'inf': ['1...",Comparative analysis of molecular structure id...
freq,1,5286,7225,7,17

In [56]:
ids = df["eid"]
df[ids.isin(ids[ids.duplicated()])]

      eid cite Lang Para Title
816   NaN  NaN  NaN  NaN   NaN
1941  NaN  NaN  NaN  NaN   NaN
3192  NaN  NaN  NaN  NaN   NaN

In [21]:
df['eid'].count()

13146

In [22]:
df.eid.nunique()

13146